/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-cello);
  --body-background-colour: var(--colour-peppermint);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
  box-sizing: border-box;
}

.hero {
  min-height: 100vh;
  margin: 10vh;
  max-width: 50vw;;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  background-color: #CCC;
}

.form1 {
  display: flex;
  padding: 1vh;
  gap: 3%;
}

.list1 {
  display: flex;
  padding: 1vh;
  flex-direction: row;
  
  width: 100%;
}

.todolist1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
  padding: 0;
  width: 100%;
  

  list-style-type: none;
}

.todolist1 * {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 2%;
  width: 100%;
}

.todolist1 div {
  display: flex;
  max-width: 65%;
  flex-direction: row;
  flex-grow: 1;
}

.todolist1 div p {
  display: inline-block;
  overflow-wrap: break-word;
  max-width: 100%;
}

.todolist1 button {
  display: inline-block;
  align-items: center;
  width: 16%;
}













/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
